@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(275, 100%, 97%);
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: hsl(292, 42%, 14%);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background-image: url("assets/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

ul {
  margin-top: 20px;
}

.card {
  width: 500px;
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.card h1 {
  display: inline-block;
  font-weight: 700;
  margin-left: 15px;
  font-size: 32px;
}

.card img {
  height: 25px;
}

li {
  list-style-type: none;
  border-bottom: 1px solid;
  border-color: hsl(275, 100%, 97%);
  padding: 20px 0;
}

li:last-child {
  border-bottom: none;
}

.faq-header {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.faq-question {
  font-weight: 600;
  line-height: 1.4;
}

.faq-question:hover {
  color: hsl(292, 16%, 49%);
}

.toggle-btn {
  background: none;
  border: none;

  flex-shrink: 0;
  cursor: pointer;
}

.hidden {
  display: none;
}

.faq-answer {
  margin-top: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: hsl(292, 16%, 49%);
}

@media (max-width: 375px) {
  .card {
    width: 330px;
    padding: 20px;
  }

  .faq-answer {
    font-size: 14px;
  }
  .faq-question {
    font-size: 14px;
  }
}
